.modal-container {
 height: 100px;
  width: 100px;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  padding: 30px;
}