nav {
    flex: 1;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 300px;
}

.nav {
font-size: 300px;
}

@media (max-width: 500px) {
    nav {
        width: 98%;
    }
  }