.create-name{
max-width: 500px;
}

.create-producer{
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-varietal{
  padding-top: 20px;
  padding-bottom: 20px;

}

.form-group-0 {
  border: 2px gray solid;
  box-shadow: 10px 5px 5px black;
  padding: 20px;
  margin-top: 20px;
}