.form-group-1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 500px;
}

.create-name {
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.create-clarity {
  margin-bottom: 40px;
}

.create-intensity-aromatics {
  margin-bottom: 40px;
}

.select-create-color {
  margin-bottom: 40px;
}
