.form-group-2 {
  display: flex;
  flex-direction: column;
}

.create-condition {
 margin-bottom: 20px;
}

.create-intensity-palate {
  margin-bottom: 20px;
}

.create-aromas-primary {
  width: 500px;
  margin-bottom: 20px;
}

.create-aromas_secondary {
  width: 500px;
  margin-bottom: 20px;
}

.create-aromas_tertiary{
  width: 500px;
}

.create-development{
  width: 500px;
}

@media screen and (max-width: 375px){
  .create-description {
    width: 340px;
  }
  }
  