.wine-card {
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 250ms all;
}

.card:hover {
  transform: scale(1.02);
  opacity: .9;
}

.wine-card a {
  text-decoration: underline;
  letter-spacing: .7px;  display: flex;
  justify-content: center;

}

@media (max-width: 500px) {
  .wine-card {
      padding: 10px;
      padding-bottom: 25px;
      margin-top: 0px;
      padding-top: 0px;
  }
  .wine-card-image {
      width: 180px;
      padding: 10px;
      margin: 4px;
  }
}


@media (max-width: 375px) {
  .wine-card {
      padding: 10px;
      padding-bottom: 25px;
      margin-top: 0px;
      padding-top: 0px;
      background-color: aquamarine;
  }
  .wine-card-image {
      width: 180px;
      padding: 10px;
      margin: 4px;
  }
}