.wines {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}

@media (max-width: 500px) {
  .wines {
      width: 100%;
      justify-content: space-around;
  }
}