.wines {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}

.our-wine-list-header {
  font-size: xx-large;
  font-family: "Covered By Your Grace", cursive;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .wines {
    width: 100%;
    justify-content: space-around;
  }
}
