.wine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #cecece;
  transition: 250ms all;
  padding: 20px;
  margin-bottom: 60px;
}

.wine:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.wine-image {
  width: 300px;
}

.wine-name {
  font-size: 24px;
  padding: 10px;
}

.price {
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 500px) {
  .wine {
    width: 100%;
    margin-bottom: 20px;
  }
  .wine-image {
    width: 180px;
    margin: 15px;
    padding: 10px;
  }
}
