.form-group-2 {
  display: flex;
  flex-direction: column;
}

.create-price {
 margin-bottom: 20px;
 background-color: whitesmoke;
}

.create-link {
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.create-description {
  width: 500px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

@media screen and (max-width: 375px){
  .create-description {
    width: 340px;
  }
  }
  